body{
    padding: 3%;

}
h1{
    color: rgb(145, 145, 72);
}
table{
    background-color: beige;
}
.product-form{
    width: 100%;
    padding: 50px;
    background-color:beige;

}
.product-img{
    width: 100px;
    height: 100px;
}
.back_btn{
    font-size: 20px;
    font-weight: bold;
    color: rgb(145, 145, 72);
    text-decoration: none;
}

