body{
    padding: 5%;

}
h1{
    color: rgb(145, 145, 72);
}
table{
    background-color: beige;
}
.create-form{
    width: 100%;
    padding: 50px;
    background-color:beige;

}
.product-img{
    width: 100px;
    height: 100px;
}
